{:paths ["src" "resources"]
 :deps {com.etzhayyim/shomei
        {:git/url "https://github.com/etzhayyim/com-etzhayyim-shomei.git"
         :git/sha "e9ed6035da56f9a53e2487c35f4b87b22a82877b"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts    ["-m" "clj-kondo.main" "--lint" "src" "test" "--fail-level" "error"]}}}
